**/*.settings/
**/*.idea/
**/*.iml
**/*.project
**/.vscode
**/*.classpath
**/*.log

**/*.git
**/target/
**/node_modules/
**/coverage/
**/WEB-INF/*
!**/WEB-INF/web.xml

**.properties
**.yaml
**.yml
**.factorypath
!**/server.properties
**/*.json
!**/package.json
*.*~
!**.properties.bak